<%= nested_form_for(@article) do |f| %>
  <%
      @members = Member.order_by_unit_kana.map{|m| [m.name, m.id]}
  %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'メッセージ' %><br>
    <%= f.text_field :message %>
  </div>
  <% if @article.persisted? %>
  <div class="field">
    <%= f.label '取引済み' %><br>
    <%= f.check_box :close_flag %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label '譲' %><br>
    <%=
      f.select :member_id, @members
    %>
  </div>
  <div class="field">
    <%= f.label '求' %><br>
    <%= f.fields_for :requestmembers do |requestmember| %>
      <%= render 'requestmember_fields', :f => requestmember %>
    <% end%>
    <%= f.link_to_add "追加", :requestmembers %>
  </div>
  <div class="field">
  	<% if @article.obverse_photo? %>
  	  <div class="thumbnail">
  	  	<%= image_tag @article.obverse_photo.url %>
  	  </div>
  	<% end %><br>
  	<%= f.label '表面' %><br>
  	<%= f.file_field :obverse_photo, :accept => 'image/*' %>
  	<%= f.hidden_field :obverse_photo_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @article.persisted? && @article.obverse_photo? %>
      <label>
        <%= f.check_box :remove_obverse_photo %>
        画像を削除
      </label>
    <% end %>
  </div>
  <div class="field">
  	<% if @article.reverse_photo? %>
  	  <div class="thumbnail">
  	  	<%= image_tag @article.reverse_photo.url %>
  	  </div>
  	<% end %><br>
  	<%= f.label '裏面' %><br>
  	<%= f.file_field :reverse_photo, :accept => 'image/*' %>
  	<%= f.hidden_field :reverse_photo_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @article.persisted? && @article.reverse_photo? %>
      <label>
        <%= f.check_box :remove_reverse_photo %>
        画像を削除
      </label>
    <% end %>
  </div>

  <div class="actions">
  	<% if @article.persisted? %>
      <%= f.submit '更新する' %>
  	<% else %>
      <%= f.submit '登録する' %>
    <% end %>
  </div>
<% end %>
