<p id="notice"><%= notice %></p>

<%= link_to '新しく投稿する', new_article_path %>

<h1>検索</h1>

<%= form_tag articles_path, :method => 'get' do %>
  求:<%= collection_select 'article_search', 'member_id', Member.all, :id, :name, :include_blank => true %> <br>
  譲:<%= collection_select 'article_search', 'requestmember_id', Member.all, :id, :name, :include_blank => true %> <br>
  <%= submit_tag '検索する' %>
<% end %>

<h1>投稿一覧</h1>

<table>
  <thead>
    <tr>
      <th>メッセージ</th>
      <th>投稿者</th>
      <th>譲</th>
      <th>求</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="<%= article.close_flag ? 'closed' : 'not_close' %> <%= cycle("even", "odd") %>">
        <td><%= article.message %></td>
        <td><%= link_to article.user.username, "http://twitter.com/#{article.user.username}" %></td>
        <td><%= article.member.name %></td>
        <td>
          <% article.members.each do |requestmember| %>
            <%= requestmember.name %> <br>
          <% end %>

        </td>
        <td><%= link_to '詳細を見る', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@articles) %>
<br>

