<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>メッセージ</th>
      <th>投稿者</th>
      <th>譲</th>
      <th>求</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="<%= article.close_flag ? 'closed' : 'not_close' %> <%= cycle("even", "odd") %>">
        <td><%= article.message %></td>
        <td><%= link_to article.user.username, "http://twitter.com/#{article.user.username}" %></td>
        <td><%= article.member.name %></td>
        <td>
          <% article.members.each do |requestmember| %>
            <%= requestmember.name %> <br>
          <% end %>
        </td>
        <% if article.obverse_photo ? %>
          <td><%= link_to image_tag(article.obverse_photo.thumb.url), article %></td>
        <% else %>
          <td><%= link_to '詳細を見る', article %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@articles) %>
<br>

