<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>メッセージ</th>
      <th>譲</th>
      <th>求</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="<%= article.close_flag ? 'closed' : 'not_close' %> <%= cycle("even", "odd") %>">
        <td>
          <%= article.message %>
          <br>
          <%= twitter_mention_tag article %>
        </td>
        <td><%= article.member.name %></td>
        <td>
          <% article.members.each do |requestmember| %>
            <%= requestmember.name %> <br>
          <% end %>
        </td>
        <td>
        <% if article.obverse_photo.present? %>
          <%= link_to image_tag(article.obverse_photo.thumb.url), article %>
        <% else %>
          <%= link_to '詳細を見る', article %>
        <% end %>
        <% if article.reverse_photo.present? %>
          <br>
          <%= image_set_tag asset_path('star.png'), { asset_path('star.png') => '1x', asset_path('star@2x.png') => '2x'}, :border => '0', :align => 'left' %>
          裏書きあり
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@articles) %>
<br>

