<p id="notice"><%= notice %></p>

<% if @article.close_flag %>
  <div class="">この投稿は取引済みです</div>
<% end %>

<table>
  <tbody>
  	<tr>
  	  <th>メッセージ</th>
  	  <td><%= @article.message %></td>
  	</tr>
  	<tr>
  	  <th>投稿者</th>
  	  <td><%= link_to @article.user.username, "http://twitter.com/#{@article.user.username}" %></td>
  	</tr>
  	<tr>
  	  <th>譲</th>
  	  <td><%= @article.member.name %></td>
  	</tr>
  	<tr>
  	  <th>求</th>
  	  <td>
        <% @article.members.each do |requestmember| %>
          <%= requestmember.name %> <br>
        <% end %></td>
  	</tr>
  	<tr>
  	  <th>表面</th>
  	  <td>
  	<% if @article.obverse_photo? %>
  	  	<%= image_tag @article.obverse_photo.url %>
  	<% end %></td>
  	</tr>
  	<tr>
  	  <th>裏面</th>
  	  <td>
  	<% if @article.reverse_photo? %>
  	  	<%= image_tag @article.reverse_photo.url %>
  	<% end %></td>
  	</tr>
  </tbody>
</table>

<br><br>

<a href="https://twitter.com/intent/tweet?screen_name=<%= @article.user.username %>&text=<%= url_for :controller => 'articles', :action => 'show', :id => @article.id, :only_path => false %>" class="tweetbtn" data-size="large" data-lang="ja" target="_blank">
  @<%= @article.user.username %>さんへツイート
</a>
<br>
<a href="https://twitter.com/share?text=【拡散希望】譲:<%= @article.member.name %> 求:<% @article.members.each_with_index do |requestmember, i| %><%= requestmember.name %><%= i+1>=@article.members.count ? '' : ','%><% end %>&url=<%= url_for :controller => 'articles', :action => 'show', :id => @article.id, :only_path => false %>&hashtags=3Bjr写真交換" class="tweetbtn" target="_blank" id="tweetbtn">
  拡散ツイート
</a>

<br><br>
<% if user_signed_in? && @article.user_id == current_user.id %>
<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '削除', @article, method: :delete, data: { confirm: '本当に削除しますか？' } %> |
<% end %>
<%= link_to '戻る', articles_path %>

<% if flash[:isSuccess] %>
<script type="text/javascript">
  window.onload = function(){
  	document.getElementById("tweetbtn").click()
  }
</script>
<% end %>
