<%= form_for(@requestmember) do |f| %>
  <% if @requestmember.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requestmember.errors.count, "error") %> prohibited this requestmember from being saved:</h2>

      <ul>
      <% @requestmember.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %><br>
    <%= f.number_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.number_field :member_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
