<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @requestmember.article_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @requestmember.member_id %>
</p>

<%= link_to 'Edit', edit_requestmember_path(@requestmember) %> |
<%= link_to 'Back', requestmembers_path %>
