<p id="notice"><%= notice %></p>

<div class="search">
<%= form_tag articles_path, :method => 'get' do %>

  <p>譲</p>
  <%= collection_select 'article_search', 'member_id', Member.all, :id, :name, :include_blank => true %> <br>

  <p>求</p>
  <%= collection_select 'article_search', 'requestmember_id', Member.all, :id, :name, :include_blank => true %> <br>
  <br>
  <p>
  <%= submit_tag '検索する' %>
  </p>
<% end %>
</div>
