<!DOCTYPE html>
<html>
<head>
  <title>SanbeePhoto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  [<strong><%= current_user.username %></strong>].
  <%= link_to "ログオフ", destroy_user_session_path %>
<% else %>
  <%= link_to "Twitterでログイン", user_omniauth_authorize_path(:twitter) %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
