<!DOCTYPE html>
<html>
<head>
  <title>SanbeePhoto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <span class="header_icon">
    <%= link_to articles_path do %>
      <%= image_set_tag asset_path('list.png'), { asset_path('list.png') => '1x', asset_path('list@2x.png') => '2x'}, :border => '0', :alt => 'トップへ' %>
      <br>
      <span>
        トップへ
      </span>
    <% end %>
  </span>
  <% if user_signed_in? %>
  <span class="header_icon">
    <%= link_to user_path(id: current_user.id) do %>
      <%= image_set_tag asset_path('user.png'), { asset_path('user.png') => '1x', asset_path('user@2x.png') => '2x'}, :border => '0', :alt => '設定' %>
      <br>
      <span>
                設定
      </span>
    <% end %>
  </span class="header_icon">
  <span class="header_icon">
    <%= link_to articles_path(:article_search => {:user_id => current_user.id} ) do %>
      <%= image_set_tag asset_path('mylist.png'), { asset_path('mylist.png') => '1x', asset_path('mylist@2x.png') => '2x'}, :border => '0', :alt => '自分の一覧' %>
      <br>
      <span>
        自分の一覧
      </span>
    <% end %>
  </span class="header_icon">
  <span class="header_icon">
    <%= link_to destroy_user_session_path do %>
      <%= image_set_tag asset_path('logined.png'), { asset_path('logined.png') => '1x', asset_path('logined@2x.png') => '2x'}, :border => '0', :alt => 'ログオフ' %>
      <br>
      <span>
        ログオフ
      </span>
    <% end %>
  </span class="header_icon">
  <% else %>
  <span class="header_icon">
    <%= link_to user_omniauth_authorize_path(:twitter) do %>
      <%= image_set_tag asset_path('not_logined.png'), { asset_path('not_logined.png') => '1x', asset_path('not_logined@2x.png') => '2x'}, :border => '0', :alt => 'ログイン' %>
    <br>
    <span>
      ログイン
    </span>
    <% end %>
  </span class="header_icon">
  <% end %>
  <% if user_signed_in? %>
  <span class="header_icon">
    <%= link_to new_article_path do %>
      <%= image_set_tag asset_path('new.png'), { asset_path('new.png') => '1x', asset_path('new@2x.png') => '2x'}, :border => '0', :alt => '新規投稿' %>
      <br>
      <span>
        新規投稿
      </span>
    <% end %>
  </span>
  <% end %>
  <span class="header_icon">
    <%= link_to searcharticles_path do %>
      <%= image_set_tag asset_path('search.png'), { asset_path('search.png') => '1x', asset_path('search@2x.png') => '2x'}, :border => '0', :alt => '検索' %>
      <br>
      <span>
        検索
      </span>
    <% end %>
  </span>
</div>
<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

<div class="content">
	<%= yield %>
</div>

</body>
</html>
