<!DOCTYPE html>
<html>
<head>
  <title>SanbeePhoto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <span class="header_icon">
    <%= link_to articles_path do %>
      <%= image_tag asset_path('list.png'), :border => '0', :alt => 'トップへ' %>
      <br>
      <span>
        トップへ
      </span>
    <% end %>
  </span>
  <% if user_signed_in? %>
  <span class="header_icon">
    <%= link_to destroy_user_session_path do %>
      <%= image_tag asset_path('logined.png'), :border => '0', :alt => 'ログオフ' %>
      <br>
      <span>
        ログオフ
      </span>
    <% end %>
  </span class="header_icon">
  <% else %>
  <span class="header_icon">
    <%= link_to user_omniauth_authorize_path(:twitter) do %>
      <%= image_tag asset_path('not_logined.png'), :border => '0', :alt => 'ログイン' %>
    <br>
    <span>
      ログイン
    </span>
    <% end %>
  </span class="header_icon">
  <% end %>
  <% if user_signed_in? %>
  <span class="header_icon">
    <%= link_to new_article_path do %>
      <%= image_tag asset_path('new.png'), :border => '0', :alt => '新規投稿' %>
      <br>
      <span>
        新規投稿
      </span>
    <% end %>
  </span>
  <% end %>
  <span class="header_icon">
    <%= link_to searcharticles_path do %>
      <%= image_tag asset_path('search.png'), :border => '0', :alt => '検索' %>
      <br>
      <span>
        検索
      </span>
    <% end %>
  </span>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
